<mat-toolbar color="primary" class="toolbar-emp">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>people</mat-icon>
  </button>
  <span>Employee Database</span>
</mat-toolbar>
<div
  style="width: 1000px; margin: auto; margin-top: 20px"
  *ngIf="currentEmployee"
>
  <div class="col-md-12 shadow-lg p-5 mb-5 bg-body rounded">
    <div class="title-group">
      <h1 class="mat-h1">Edit Employee Data</h1>
      <h2 *ngIf="isEditEmp"></h2>
      <mat-divider fxFlex="1 0"></mat-divider>
    </div>
    <form [formGroup]="editEmpForm" #editForm="ngForm">
      <mat-card>
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input
            matInput
            formControlName="username"
            placeholder="Username"
            [(ngModel)]="currentEmployee.username"
            minlength="5"
            maxlength="15"
          />
        </mat-form-field>
        <div *ngIf="editEmpForm.get('username')?.touched">
          <div
            *ngIf="editEmpForm.get('username')?.hasError('required')"
            class="text-danger"
            style="margin-top: -20px"
          >
            Username is required!
          </div>
          <div
            *ngIf="editEmpForm.get('username')?.hasError('minlength')"
            class="text-danger"
            style="margin-top: -20px"
          >
            Username at least need 5 character
          </div>
        </div>
        <br />
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input
            matInput
            formControlName="firstName"
            placeholder="Your First Name"
            [(ngModel)]="currentEmployee.firstName"
          />
        </mat-form-field>
        <div *ngIf="editEmpForm.get('firstName')?.touched">
          <div
            *ngIf="editEmpForm.get('firstName')?.hasError('required')"
            class="text-danger"
            style="margin-top: -20px"
          >
            First Name is required!
          </div>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input
            matInput
            formControlName="lastName"
            placeholder="Your Last Name"
            [(ngModel)]="currentEmployee.lastName"
          />
        </mat-form-field>
        <div *ngIf="editEmpForm.get('lastName')?.touched">
          <div
            *ngIf="editEmpForm.get('lastName')?.hasError('required')"
            class="text-danger"
            style="margin-top: -20px"
          >
            Last Name is required!
          </div>
        </div>
        <br />
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            formControlName="email"
            placeholder="Your Email"
            [(ngModel)]="currentEmployee.email"
          />
        </mat-form-field>
        <div *ngIf="editEmpForm.get('email')?.touched">
          <div
            *ngIf="editEmpForm.get('email')?.hasError('required')"
            class="text-danger"
            style="margin-top: -20px"
          >
            Email is required!
          </div>
          <div
            *ngIf="editEmpForm.get('email')?.hasError('email')"
            class="text-danger"
            style="margin-top: -20px"
          >
            Please Enter a valid email!
          </div>
        </div>
        <br />
        <div class="form-floating mb-3">
          <input
            type="date"
            class="form-control"
            id="floatingInput"
            formControlName="birthDate"
            [(ngModel)]="currentEmployee.birthDate"
            max="{{ maxDate }}"
          />
          <label for="floatingInput">Birth Date*</label>
        </div>
        <div *ngIf="editEmpForm.get('birthDate')?.touched">
          <div
            *ngIf="editEmpForm.get('birthDate')?.hasError('required')"
            class="text-danger"
            style="margin-top: -20px"
          >
            Birth Date is required!
          </div>
        </div>
        <br />
        <mat-form-field appearance="outline">
          <mat-label>Basic Salary</mat-label>
          <input
            matInput
            currencyMask
            formControlName="basicSalary"
            [(ngModel)]="currentEmployee.basicSalary"
            [options]="{ prefix: 'Rp ', thousands: '.', decimal: ',' }"
          />
        </mat-form-field>
        <div *ngIf="editEmpForm.get('basicSalary')?.touched">
          <div
            *ngIf="editEmpForm.get('basicSalary')?.hasError('required')"
            class="text-danger"
            style="margin-top: -20px"
          >
            Basic Salary is required!
          </div>
          <div
            *ngIf="editEmpForm.get('basicSalary')?.hasError('min')"
            class="text-danger"
            style="margin-top: -20px"
          >
            Basic Salary minimum Rp 500.000
          </div>
        </div>
        <br />
        <mat-form-field appearance="outline">
          <mat-label>Status</mat-label>
          <mat-select
            formControlName="status"
            [(ngModel)]="currentEmployee.status"
          >
            <mat-option>None</mat-option>
            <mat-option value="Permanent">Permanent</mat-option>
            <mat-option value="Contract">Contract</mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="editEmpForm.get('status')?.touched">
          <div
            *ngIf="editEmpForm.get('status')?.hasError('required')"
            class="text-danger"
            style="margin-top: -20px"
          >
            Status is required!
          </div>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Group</mat-label>
          <mat-select
            [formControl]="group"
            formControlName="group"
            ngDefaultControl
            #grouplist
            [(ngModel)]="currentEmployee.group"
            (ngModelChange)="onGroupSelection()"
            noEntriesFoundLabel="Not Found"
          >
            <mat-option>
              <ngx-mat-select-search
                [formControl]="groupFilterControl"
                placeholderLabel="Select a Group.."
              ></ngx-mat-select-search>
            </mat-option>
            <mat-option
              *ngFor="let option of options | async"
              [value]="option.name"
            >
              {{ option.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="editEmpForm.get('group')?.touched">
          <div
            *ngIf="editEmpForm.get('group')?.hasError('required')"
            class="text-danger"
            style="margin-top: -20px"
          >
            Group is required!
          </div>
        </div>
        <br />
        <div class="form-floating mb-3">
          <input
            type="date"
            class="form-control"
            id="floatingInput"
            formControlName="description"
            [(ngModel)]="currentEmployee.description"
            max="{{ maxDate }}"
          />
          <label for="floatingInput">Description*</label>
        </div>
        <div *ngIf="editEmpForm.get('description')?.touched">
          <div
            *ngIf="editEmpForm.get('description')?.hasError('required')"
            class="text-danger"
            style="margin-top: -20px"
          >
            Description is required!
          </div>
        </div>
        <div class="mb-5 mr-5 ">
            <button
              mat-raised-button
              class="btn btn-secondary rounded"
              style="margin-right: 5px"
              routerLink="/Listemployee"
            >
              Cancel
            </button>
            <button
              mat-raised-button
              class="btn btn-primary rounded"
              (click)="processEdit()"
              [disabled]="editForm.form.invalid"
            >
              Save Changes
            </button>
          </div>
      </mat-card>
     
    </form>
  </div>
</div>
<router-outlet></router-outlet>
